.container-route {
    position: flex;
    margin-left: 125px;
    margin-top: 80px;
    width: 100%;
    height: auto;
    padding-left: 150px;
    padding-right: 150px;
    z-index: 0;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sound-backgorund {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 50px;
    border-radius: 5px;
}

.container-route p {
    padding-top: 10px;
    margin-left: 20px;
    color: #534f4f;
    font-size: 18px;
}

.sound-item {
    position: relative;
    margin-top: 20px;
    width: calc(100% - 40px);
    margin-left: 20px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 22px;
    padding-bottom: auto;
    font-size: 14px;
    padding-bottom: 50px;
}

.report-item {
    position: relative;
    margin-top: 20px;
    width: calc(100% - 40px);
    margin-left: 20px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: auto;
    font-size: 14px;
    padding-bottom: 50px;
    border-radius: 7px;
}

input {
    width: calc(100% - 5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

input.Search {
    width: auto;
    border: 1px solid #555;
    display: block;
    padding: 1px 20px 1px 5px;
    width: auto;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='16' class='bi bi-search ' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 200px center;
    position: relative;
    margin-bottom: 5px;
}

.btn-add {
    border: none;
    background-color: #2E86C1;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-report {
    border: none;
    background-color: #2E86C1;
    border-radius: 12px;
    color: white;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.edit-btn {
    border: none;
    background-color: #F3BA26;
    border-radius: 7px;
    color: white;
    font-size: 11px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.change-btn {
    border: none;
    background-color: #2E86C1;
    border-radius: 7px;
    color: white;
    font-size: 11px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.delete-btn {
    border: none;
    background-color: #F37026;
    border-radius: 7px;
    color: white;
    font-size: 11px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-add:hover {
    background-color: #3c9ddd;
}

.Status .bi-chevron-left {
    position: relative;
    height: auto;
    border: none;
    padding: auto;
    width: 3 5px;
    font-size: 16px;
    border-radius: 15px;
    background-color: rgba(219, 219, 219, 0.8);
    color: rgb(78, 75, 75);
}

.Status .bi-chevron-left:hover {
    background-color: rgba(100, 100, 100, 0.8);
    color: rgb(255, 255, 255);
}

.arrow-left,
.long-arrow-left {
    transform: rotate(-45deg);
}

.long-arrow-right,
.long-arrow-left {
    display: block;
    margin: 30px auto;
    width: 10px;
    height: 10px;
    border-top: 2px solid rgb(78, 75, 75);
    border-left: 2px solid rgb(78, 75, 75);
    cursor: pointer;
    z-index: 20;
}

.Link-Spect {
    margin-left: 20px;
}

.Report {
    padding: 20px;
}

.report-Edit {
    position: absolute;
    right: 100px;
}

.report-name {
    margin-left: 80px;
}

.report-Head {
    margin-bottom: -15px;
}

@media only screen and (max-width: 908px) {
    .sound {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .container-route {
        width: calc(100% + 255px);
        margin-left: -125px;
    }

    .sound {
        margin-left: 20px;
        display: none;
    }

    .sound-name {
        margin-left: 15px;
    }

    .sound {
        margin-left: 20px;
    }

    .sound-item {
        margin-left: 20px;
    }

    .sound-Edit {
        right: 80px;
    }
}

@media only screen and (max-width: 374px) {
    .container-route {
        display: block;
        width: 640px;
    }
}

@media only screen and (max-width: 370px) {
    .container-route {
        margin-left: -135px;
    }
}

@media only screen and (max-width: 360px) {
    .container-route {
        margin-left: -140px;
    }
}

@media only screen and (max-width: 1130px) {}