.container-Menu {
    width: 100%;
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.MenuBar {
    box-sizing: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px;
    font-size: 16px;
    color: rgb(78, 75, 75);
    border-top-style: none;
    z-index: 10;
    justify-content: flex-start;

}

.MenuBar .logo-menu {
    display: none;
    position: absolute;
}



.MenuBar .menu-title {
    position: fixed;
    left: 290px;
    margin-top: 13px;
    pointer-events: none;
}

.MenuBar i {
    position: fixed;
    margin-top: 21px;
    margin-left: 270px;
    text-decoration: none;
}

.MenuBar .long-arrow-left .background-arrow {
    position: absolute;
    background: rgba(181, 184, 184, 0.3);
    border-radius: 20px;
    right: 5px;
    margin: -11px;
    width: 25px;
    height: 25px;
    z-index: -5;
    cursor: pointer;
}

.MenuBar .long-arrow-left .background-arrow:hover {
    background: rgba(181, 184, 184, 0.5);
}

.MenuBar .logout-btn:hover {
    cursor: pointer;
    color: rgb(216, 58, 58);
    transition: 0.5s;
}

.burger-menu {
    position: fixed;
    top: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 11;
    left: 20px;
    padding: 5px;
    border-radius: 100px;

}

.burger-menu:hover {
    background-color: rgb(228, 228, 228);

}



.burger-bar {
    margin: auto;
    width: 1.2em;
    height: 2px;
    background-color: rgb(215, 29, 36);
    border-radius: 3px;
}

.setMenuMobile {
    margin-top: 70px;
}

.menuburger {
    width: 220px;
    height: 100vh;
    background-color: rgb(82, 76, 76);
    z-index: 2;
    position: fixed;
    display: flex;
    overflow-y: auto;
}


.hidden {
    display: none;
}

.visible {
    display: inherit;

}

.setMenuMobile li {
    padding: 6px;
}

.setMenuMobile section {
    padding: 6px;
    cursor: pointer;
}

.setMenuMobile section:hover {
    background-color: rgb(190, 33, 39);
    transition-duration: 0.15s;
}

.setMenuMobile .active {
    background-color: rgb(190, 33, 39);
}

.setMenuMobile li:hover {
    background-color: rgb(190, 33, 39);
    transition-duration: 0.15s;
}

.MenuBar .logout-btn {
    position: fixed;
    right: 15px;
    margin-top: 9px;
    border-radius: 25px;
    font-size: 14px;
    padding: 6px 0;
    padding-right: 40px;
    padding-left: 10px;
    color: rgb(129, 129, 129);
    background-color: rgb(235, 235, 235);
}

.profile-menu {
    width: 150px;
    height: 50px;
    background-color: rgb(180, 180, 180);
    position: fixed;
    right: 20px;
    margin-top: 48px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.profile-menu::before {
    content: '';
    position: absolute;
    top: -4.5px;
    right: 8px;
    width: 10px;
    height: 10px;
    background-color: rgb(180, 180, 180);
    transform: rotate(45deg);
}

.profile-icon {
    position: fixed;
    right: 18.5px;
    top: 11.5px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    /* border: 1px solid rgb(211, 45, 45); */
}

.profile-icon img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .burger-menu {
        display: flex;
    }

    .MenuBar .menu-title {
        left: 40px;
        position: relative;
        display: none;
    }

    .MenuBar .background-arrow {
        margin-left: 20px;
    }

    .MenuBar .logo-menu {
        display: inherit;
    }

    .logo-menu :hover {
        cursor: pointer;
    }

    .logo-menu {
        top: 10px;
        left: 65px;

    }

    .MenuBar .logo-menu img {
        width: 140px;
    }

    .sidebar-font {
        color: rgb(255, 255, 255);
        margin-left: 20px;
        font-size: 14px;
    }

    .burger-menu li {
        padding: 11px;
    }

    .arrow-icon {
        color: white;
    }

}

@media only screen and (min-width: 769px) {
    .visible {
        display: none;
    }
}