p {
    color: #4F4F4F;
}

.Logo-sidebar img {
    display: block;
    margin: auto;
    width: 180px;
    padding-top: 5px;
}

.Logo-sidebar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Logo-sidebar p {
    font-size: 13px;
    display: block;
}

.supName {
    margin-top: 0px;
    margin-bottom: 5px;
}

.Rank {
    margin-bottom: -5px;
    display: inline-block;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #d71d24;
    /* background-color: #be1c22; */
    z-index: 10;
    overflow-y: auto;
}

.sidebar hr {
    position: relative;
    border: 1px solid rgba(78, 75, 75, 0.22);
    margin-top: 40px;
}

li {
    list-style: none;

}

.sidebar li:hover {
    background-color: rgba(7, 7, 7, 0.6);
}

.sidebar section:hover {
    background-color: rgba(7, 7, 7, 0.6);
}

.sidebar li:hover .sidebar-font {
    color: rgb(255, 255, 255);
}
.sidebar section:hover .sidebar-font {
    color: rgb(255, 255, 255);
}

.sidebar-font {
    margin-left: 30px;
    font-size: 16px;
    color: #ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.sidebar li {
    padding: 10px;
    padding-left: 0px;
    cursor: pointer;
}

.sidebar section {
    padding: 10px;
    padding-left: 0px;
}

.Status-Color {
    background-color: rgba(7, 7, 7, 0.6);
    color: white;
}

nav .active {
    background-color: rgba(7, 7, 7, 0.6);
    box-shadow: inset 6px 0 0 0 rgb(255, 255, 255);
    transition: 0.2s;
}

nav .active .sidebar-font {
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: 0.15s;
}

.menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.menu.open {
    max-height: 100px;
    transition: max-height 0.3s ease-in;
}

.arrow-icon {
    position: absolute;
    color: rgb(255, 255, 255);
    right: 20px;
}

.sidebar div li .sidebar-font {
    margin-left: 45px;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

.Logo-sidebar img:hover {
    cursor: pointer;
}